@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 64px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 500;
  font-style: normal;
}

.marcellus-semibold {
  font-family: "Marcellus", serif;
  font-weight: 600;
  font-style: bold;
}

.teachers-regular {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.teachers-semibold {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
